* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  transition: 1.5s;
}
.navabr {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.logo {
  flex-basis: 20%;
}
.logo img{
  width: 160px;
  cursor: pointer;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  color: #fff;
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
}


.circle-box{
  position: absolute;
  height: 450px;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#svgCircle {
  stroke-dasharray: 1256;
  stroke-dashoffset: 1256;
  transition: 1s;
}
span {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  z-index: 10;
}
#step1{
  right: 160px;
  bottom: 30px;
}
#step2{
  left: 56px;
  bottom: 106px;
}
#step3{
  left: 60px;
  top: 100px;
}
#step4{
  right: 156px;
  top: 30px;
}
#step5{
  right: 20px;
  top: 220px;
}


.user-box{
  width: 350px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  transition: 1s;
}
.user img {
  width: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.social-links img{
  width: 20px;
  border-radius: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.user-box p{
  margin: 20px 0;
  color: #c0c0c0;
  line-height: 25px;
}
.user {
  height: 450px;
}
